@{
    ViewData["Title"] = "Forum Home";
}

<div class="text-center">
    <h1 class="display-4">Forum Project</h1>
    <button type="button" class="collapsible">Welcome Adventurers!</button>
    <div class="content">
        <p>Lorem ipsum...</p>
    </div>
</div>
