﻿@{
    ViewData["Title"] = "Forum Home";
}

<div class="text-center">
    <h1 class="display-4">Forum Project</h1>
    <p>Welcome Adventurers!!</p>
</div>
<div class="text-center" style="padding-top: 20px"> 
    <a asp-controller="Forum" asp-action="Index" class="homeButton mb-3" role="button">Forum Page</a>
</div>